@media (min-width: 0px) and (max-width: 860px)
#social {
    display: none;
}


#social {
    width: 40px;
    height: 220px;
    position: fixed;
    right: 0;
    margin-top: 170px;
    
}
.body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    font-weight: 300;
   

}  

